#seceight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    margin: auto;
    margin-top: 80px;
}

#seceight div {

    color: #050505;
    text-align: center;
    font-size: 60px;
}

#seceight p {

    color: rgb(75, 75, 75);
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    margin-top: 33px;
}

#seceight button {
    margin-top: 40px;
    border-radius: 30px;
    height: 50px;
    width: 150px;
    color: rgb(235, 233, 233);
    background-color: rgb(34, 23, 23);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}




@media screen and (max-width:600px) {
    #seceight {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 85%;
        margin: auto;
        margin-top: 40px;
    }

    #seceight div {

        font-size: 40px;
    }

    #seceight p {

      
        text-align: center;
        font-size: 15px;
    
    }

    #seceight button {
        margin-top: 20px;
       
    
    }
    
 
 

}